.about {
    font-family: 'Montserrat', sans-serif;
    color: white;
    visibility: hidden;
    height: 100vh;
    background-color: black;
    padding-top: 1rem;
    padding-left: 4rem;
    animation: background-animation 0.7s 0.2s forwards;
}

.backArrowContainer {
    width: 4.2rem;
    overflow: hidden;
    position: relative;
    top: 1rem;
    right: 2rem;
    transition: right 0.4s;
}

.backArrowContainer:hover {
    right: 2.5rem;
    transition: right 0.4s;
}

.backArrow {
    font-size: 4rem;
    visibility: hidden;
    animation: backArrow-animation 0.75s 0.8s forwards;
    user-select: none;
}

.aboutTitleContainer {
    overflow: hidden;
    margin-bottom: 1.5rem;
    height: 10rem;
}

.aboutH1 {
    font-size: 8rem;
    font-family: 'Panchang';
    visibility: hidden;
    animation: about-animation 0.75s 0.8s forwards;
}

.aboutBackground h2 {
    margin-bottom: 0.5rem;
}

.aboutText {
    margin-bottom: 2.2rem;
}

.aboutText p {
    width: 85%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
}

.container div {
    width: 18rem;
}

@keyframes backArrow-animation {
    0% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(0rem);
        visibility: visible;
	}
}

@keyframes about-animation {
    0% {
        transform: translateY(9rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
	}
}

@keyframes background-animation {
    0% {
        transform: translateY(45rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
    }
}