.about {
    font-family: 'Montserrat', sans-serif;
    color: white;
    visibility: hidden;
    height: 100vh;
    background-color: black;
    padding-top: 1rem;
    padding-left: 4rem;
    animation: background-animation 0.7s 0.2s forwards;
    -webkit-animation: background-animation 0.7s 0.2s forwards;
}

.backArrowContainer {
    width: 4.2rem;
    overflow: hidden;
    position: relative;
    top: 1rem;
    right: 2rem;
    transition: right 0.4s;
    -webkit-transition: right 0.4s;
}

.backArrow {
    font-size: 4rem;
    visibility: hidden;
    animation: backArrow-animation 0.9s 0.8s forwards;
    -webkit-animation: backArrow-animation 0.9s 0.8s forwards;
    cursor: pointer;
    user-select: none;
}

.aboutTitleContainer {
    overflow: hidden;
    margin-bottom: 1.5rem;
    height: fit-content;
}

.aboutH1 {
    font-size: 8rem;
    font-family: 'Panchang';
    visibility: hidden;
    animation: about-animation 0.75s 0.8s forwards;
    -webkit-animation: about-animation 0.75s 0.8s forwards;
}

.aboutText {
    margin-bottom: 2.2rem;
}

.aboutText p {
    width: 85%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.container div {
    width: 18rem;
}

.tools {
    padding-bottom: 2rem;
}

@keyframes backArrow-animation {
    0% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(0rem);
        visibility: visible;
	}
}
@-webkit-keyframes backArrow-animation {
    0% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(0rem);
        visibility: visible;
	}
}

@keyframes about-animation {
    0% {
        transform: translateY(9rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
	}
}
@-webkit-keyframes about-animation {
    0% {
        transform: translateY(9rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
	}
}

@keyframes background-animation {
    0% {
        transform: translateY(45rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
    }
}
@-webkit-keyframes background-animation {
    0% {
        transform: translateY(45rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
    }
}

@media screen and (min-width: 768px) {
    .backArrowContainer:hover {
        right: 2.5rem;
        transition: right 0.4s;
        -webkit-transition: right 0.4s;
    }
}

@media screen and (max-width: 767px) {
    .about {
        padding-left: 1.5rem;
    }
    .backArrowContainer {
        right: 0.7rem;
        margin-bottom: 1rem;
    }
    .backArrow {
        font-size: 10vw;
    }
    .aboutH1 {
        font-size: 13.5vw;
    }
    .aboutText {
        margin-bottom: 1.5rem;
    }
    .aboutText p {
        font-size: 4vw;
    }
    .container {
        margin-top: 1rem;
        padding-right: 0.8rem;
    }
    .container p {
        margin-bottom: 0.5rem;
        font-size: 3.8vw;
    }
}