.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.backgroundCredit {
    color: rgb(191, 191, 191);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    transform: rotate(90deg);
    position: absolute;
    bottom: 7rem;
    left: -4rem;
    word-spacing: 0.2rem;
}

.creditLink {
    color: white;
}

.menu {
    margin-top: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-family: 'NeueMachinaPlain';
    width: fit-content;
    height: 20rem;
    align-items: flex-end;
}

.menuP {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.aboutLink:hover, .workLink:hover {
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5rem;
    transition: letter-spacing 0.5s;
}

.contactHover {
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5rem;
    transition: letter-spacing 0.5s;
}

.aboutLink {
    margin-right: 19rem;
}

.workLink {
    margin-right: 13rem;
}

.contactLink {
    margin-right: 3rem;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0rem;
}

.contactLinksContainer {
    overflow: hidden;
}

.contactLinks {
    color: white;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 8rem;
    height: 9rem;
    position: relative;
    top: -10rem;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animateLinks {
    top: 0rem;
    opacity: 1;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.contactLinkDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.contactLinks img {
    filter: brightness(0) invert(1);
    width: 1rem;
}

.contactP {
    margin-right: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.contactImg {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-top: 0.17rem;
}

.contactImg:hover {
    transform: scale(0.96);
}

.contactP:hover {
    text-decoration: underline;
}

.centralText {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    position: absolute;
    top: 13rem;
}

.hello {
    margin-left: 14rem;
    padding-bottom: 2.5rem;
    font-weight: 700;
    font-size: 8rem;
    font-family: 'Panchang';
}

.helloSpan {
    position: relative;
    animation-name: move-text;
    animation-duration: 0.75s;
    animation-delay: calc(0.35s + var(--animation-order) * 100ms);
    animation-fill-mode: forwards;
    bottom: -1em;
    opacity: 0;
}

.p2 {
    width: 30rem;
    margin-left: 22rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.nuno {
    border-bottom: 1px solid white;
}

.p3 {
    margin-left: 30rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.sliderContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 4rem;
    background-color: rgba(255,255,255,0);
    overflow: hidden;
}

.slider {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.slider div {
    display: flex;
    animation: scrollText 16s infinite linear;
}

.slider h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
    color: white;
}

.slider span {
    margin-right: 0.8rem;
}

@keyframes scrollText {
    from {
        transform: translateX(0%); 
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes move-text {
    0% {
      bottom: -0.2em;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
}

@keyframes home-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}