.home {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.backgroundCredit {
    color: rgb(191, 191, 191);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.3rem;
    margin-bottom: 2rem;
    word-spacing: 0.2rem;
}

.creditLink {
    color: white;
}

.menu {
    padding-top: 3rem;
    padding-left: auto;
    display: flex;
    flex-direction: column;
    font-family: 'NeueMachinaPlain';
    width: 100vw;
    align-items: flex-end;
}

.menuP {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.contactHover {
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5rem;
    transition: letter-spacing 0.5s;
    -webkit-transition: letter-spacing 0.5s;
}

.aboutLink {
    margin-right: 19rem;
}

.workLink {
    margin-right: 13rem;
}

.contactLink {
    margin-right: 3rem;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0rem;
}

.divContainer {
    position: relative;
}

.contactLinksContainer {
    overflow: hidden;
    position: absolute;
    right: 0.2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 19rem;
}

.contactLinks {
    color: white;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 8rem;
    height: 9rem;
    position: relative;
    top: -10rem;
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-left: auto;
}

.animateLinks {
    top: 0rem;
    opacity: 1;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.contactLinkDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.contactLinks img {
    filter: brightness(0) invert(1);
    width: 1rem;
}

.contactP {
    margin-right: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.contactImg {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding-top: 0.17rem;
}

.centralText {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 5vh;
}

.hello {
    margin-left: 14rem;
    padding-bottom: 2.5rem;
    font-weight: 700;
    font-size: 8rem;
    font-family: 'Panchang';
}

.helloSpan {
    opacity: 0;
    position: relative;
    animation-name: move-text;
    animation-duration: 0.75s;
    animation-delay: calc(0.35s + var(--animation-order) * 100ms);
    animation-fill-mode: forwards;
    -webkit-animation-name: move-text;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-delay: calc(0.35s + var(--animation-order) * 100ms);
    -webkit-animation-fill-mode: forwards;
    bottom: -1em;
}

.p2 {
    width: 30rem;
    margin-left: 22rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.nuno {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
}

.p3 {
    margin-left: 30rem;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.sliderContainer {
    position: absolute;
    width: 100vw;
    height: 4vh;
    background-color: rgba(255,255,255,0);
    overflow: hidden;
    bottom: 0;
}
.slider {
    display: flex;
    position: absolute;
    align-items: center;
    line-height: 1.5rem;
    white-space: nowrap;
}
.slider div {
    display: flex;
    flex-direction: row;
    animation: scrollText 22s infinite linear;
    -webkit-animation: scrollText 22s infinite linear;
}

.slider h1 {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.2vh;
    color: white;
}

.slider span {
    margin-right: 0.8rem;
}

@keyframes scrollText {
    from {
        transform: translateX(0%); 
    }
    to {
        transform: translateX(-50%);
    }
}
@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%); 
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes move-text {
    0% {
        opacity: 0;
        bottom: -0.2em;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
@-webkit-keyframes move-text {
    0% {
        opacity: 0;
        bottom: -0.2em;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .aboutLink:hover, .workLink:hover {
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.5rem;
        transition: letter-spacing 0.5s;
        -webkit-transition: letter-spacing 0.5s;
    }
    .contactImg:hover {
        transform: scale(0.96);
    }
    .contactP:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        align-items: flex-start;
        padding-top: 2rem;
        padding-left: 1.2rem;
        padding-right: 1rem;
    }
    .menuP {
        margin-bottom: 1rem;
        font-size: 6.5vw;
        height: 2.5vh;
    }
    .aboutLink {
        margin-right: 0rem;
    }
    .workLink {
        align-self: center;
        margin-right: 2rem;
    }
    .contactLink {
        margin-right: 0rem;
    }
    .divContainer {
        align-self: flex-end;
    }
    .contactLinksContainer {
        width: fit-content;
    }
    .contactLinks {
        margin: 0;
        padding: 0;
        left: 1rem;
    }
    .centralText {
        margin-top: 15vh;
        width: 100vw;
    }
    .hello {
        margin-left: 6vw;
        font-size: 23vw;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .p2 {
        width: fit-content;
        margin-left: 6vw;
        font-size: 8vw;
    }
    .p3 {
        margin-left: 6vw;
        font-size: 8vw;
    }
    .backgroundCredit {
        font-size: 1.2vh;
    }
    .slider div {
        animation: scrollText 40s infinite linear;
        -webkit-animation: scrollText 40s infinite linear;
    }
}