.skills {
    background: url('assets/images/1-grain.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;
}

.skillsBackground {
    visibility: hidden;
    background-size: cover;
    height: 100vh;
    background-color: black;
    padding-top: 7rem;
    padding-left: 4rem;
    animation-name: background-animation;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.skillsBackground h2 {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    width: 55rem;
    height: 4rem;
    margin-bottom: 2rem;
}

@keyframes background-animation {
    0% {
        transform: translateY(45rem);
    }
    100% {
        transform: translateY(0rem);
        visibility: visible;
	}
}